notifications/__pycache__/
beats_django/__pycache__/
order/__pycache__/
product/__pycache__/
db.sqlite3
vendors/__pycache__/

__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
.vscode/
.env/
vendors/__pycache__/

